@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&family=Roboto:wght@100&display=swap");
:root {
  --dark: #1d1d1d;
  --secound: #a82c48;
  --thid-color: #ffae00;
  --fourth-color: #8f8d8d;
  --fifth_color: #000000;
  --primary-fonts: "Poppins", "sans-serif";
}
*,
*::before *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  font-size: 100%;
  font-weight: 400;
  font-family: var(--primary-fonts);
  background: #181717;
}
.navbar {
 width: 100%;
 position: fixed;
 background: #2a6dff;
  }
.navbar-brand {
  margin-left: 2rem;
}

.nav-link {
  margin-right: 10px;
  margin-left: 10px;
  color: var(--dark);
  text-transform: uppercase;
  margin-top: 10px;
  color: #fffcfc;
}
.nav-link {
  color: #18272F;
  position: relative;
  text-decoration: none;
}
.nav-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272F;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.nav-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.nav-link:hover {
  color: #ffae00;
}
.about-button {
  background: var(--secound);
  color: #fff;
  border: none;
  text-transform: uppercase;
  width: 10rem;
  margin-top: 10px;
}
/* Main Section */
.main-section {
 background: #181717;
}
.main-section h1 {
  margin: 5rem 0px 0px;
  font-weight: 100 bold;
  font-size: 4rem;
  margin-top: -1rem;
  padding-left: 1rem;
  color: #fff;
}
.main-section .btn_1 {
  background-color: #ffae00;
  border: none;
  width: 35%;
  padding: 10px;
  border-radius: 60px;
  margin-left: 1.2rem;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.section-M{
  background: #181717;
  box-shadow: 0px 10px 10px #fff;
}
.downloader {
  margin-left: 10rem;
}
.downloader img {
  width: 500px;
  height: 500px;
}
.card {
  margin-left: 1.7rem;
  margin-right: 1rem;
  margin-top: 2rem;
  border-radius: 30px;
  margin-top: -0.4rem;
  box-shadow: 0px 14px 20px #3333;
}
.card span {
  color: red;
  text-align: center;
  margin-top: 0.6rem;
  font-size: 2rem;
  font-weight: bold;
}
.card h5 {
  text-align: center;
  color: brown;
  margin-top: -0.4rem;
  font-size: 1rem;
  font-weight: bold 300;
}
.card-text {
  color: gray;
  text-align: center;
}

.product_1 {
  background-color: #181717;
}
.ycontent-bod h1 {
  margin-left: 1ex;
  width: 100%;
  color: white;
}
.ycontent-bod h6 {
  margin-left: 1pc;
  width: 100%;
}
.card {
  border: none;
  background: none;
  margin-left: 5%;
}
.pizza-star .fa-star {
  color: orange;
  padding-left: 2.1rem;
}
@media screen and (min-width: 500px) and (max-width: 990px) {
   .pizza-star .fa-star {
    margin-left: 4.8rem;
  }
}
.button_22 {
  background-color: #1d1d1de5;
  margin-left: 3.6rem;
  color: white;
  margin-top: 0.5rem;
}
.button_22:hover {
  background-color: #1d1d1d96;
  color: white;
}
/* Review Section is Given  */
.review{
  background: #181717;
}
.review h1 {
  color: #ffae00;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 20px;
  font-weight: 600;
  margin-bottom: 4rem;
}
.review .card {
  margin-bottom: 4rem;
}
.quote .fa-quote-right{
  color: rgb(75, 12, 248);
  float: right;
  margin-right: 5rem;
font-size: 35px;
}

/* Review section is End */
/* Media Query for Review Star  is given*/
.review-star .fa-star {
  color: #2a6dff;
}
.review-star{
  margin-left: 6.5rem;
}
@media screen and (min-width: 300px) and (max-width: 500px) {
  .review-star  {
    margin-left: 4.3rem;
  }
}
@media screen and (min-width: 700px) and (max-width: 1200px) {
  .review-star  .fa-star{
    margin-left: 3.2rem;
  }
  .social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/* Media Query for Review Star  is  End*/

/* Review card for Social media icon is Given */
.social-icon {
  margin-left: 2rem;
}

.social-icon .fa-facebook {
  color: red;
  font-size: 32px;
}
.social-icon .fa-instagram {
  color: red;
  font-size: 1.9rem;
  font-size: 32px;
}
.social-icon .fa-linkedin {
  color: red;
  font-size: 32px;
}
@media screen and (min-width: 300px) and (max-width: 900px) {
  .social-icon {
    margin-left: 7.6rem;
  }
  .social-icon .fa-facebook {
    color: rgb(186, 36, 255);
  }
  .social-icon .fa-instagram {
    color: rgb(186, 36, 255);
  }
  .social-icon .fa-linkedin {
    color: rgb(186, 36, 255);
  }
}
@media screen and (min-width: 800px) and (max-width: 1600px) {
  .fa-star {
    margin-left: 1rem;
  }
  .social-icon {
    margin-left: 1rem;
  }
}
/* Review card for Social media icon is End */

/* Review Section is Completed */

/* Contact us is Given */
.contact-us h1{
  color: white;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.contact-us .card{
  margin-left: 16rem;
  margin-top: 1.3rem;
}
.contact-us img{
  height: 48vh;
  border-radius: 10px;
}
@media screen and (min-width:300px) and (max-width:890px) {
  .contact-us img{
    width: 100%;
    height: 30vh;
  }
}
/* Contact us is  End */

/* Footer is Given */
.footer h1{
  color: white;
  text-align: center;
  text-transform: uppercase;
margin-top: 1.5rem;
  margin-bottom: 2.1rem;

}
ooter {
	background: #101010;
	padding: 86px 0;
}
.single-content {
	text-align: center;
	padding: 115px 0;
}
.single-box p {
	color: #fff;
	line-height: 1.9;
}
.single-box h3 {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}
.single-box .card-area i {
	color: #ffffff;
	font-size: 35px;
	margin-right: 10px;
}
.single-box ul {
	list-style: none;
	padding: 0;
}
.single-box ul li a {
	text-decoration: none;
	color: #fff;
	line-height: 2.5;
	font-weight: 100;
}
.single-box h2 {
	color: #fff;
	font-size: 20px;
	font-weight: 700;
}
#basic-addon2 {
	background: #fe1e4f;
	color: #fff;
}
.socials i {
	font-size: 38px;
	margin-right: 15px;
}
@media (max-width: 767px) {
	.single-box {
		margin-bottom: 50px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.single-box {
		margin-bottom: 50px;
	}
}

/* Footer is End */